* {
    padding: 0;
    margin: 0;
}

button {
    border: none;
    background: transparent;
}

header{
    background-color: chocolate;
    min-height: calc( 100vh - 32px );
}

.hidden {
    display: none;
}

nav {
    position: relative;
    background-color: rgb(148, 148, 148);
    padding: 32px;
}

 ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
 }

 li {
    list-style: none;
 }

 a {
  font-family: "Intel One Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
 }


 .social-img {
    max-width: 32px;
 } 

 .menu-btn {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 16;
    right: 16;
 }
