* {
    padding: 0;
    margin: 0;
    font-family: "Intel One Mono", monospace;
    font-optical-sizing: auto;
}

button {
    border: none;
    background: transparent;
}
.hidden {
    display: none;
}

.top-0 {
    top: 0;
}

nav {
    position: relative;
    background-color: rgb(148, 148, 148);
    padding: 16px;
    display: flex;
    align-items: center;
}

.nav-closed {
    display: flex;
    align-items: center;
}

header nav a:first-child {
    position: relative;
    text-decoration: none;
    color: #111111;
    font-weight: 600;
}

 ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 32px;
 }

 li {
    list-style: none;
 }

 a {
  font-weight: 400;
 }


 .social-img {
    max-width: 32px;
 } 

 .menu-btn {
    width: 32px;
    height: 32px;
    position: absolute;
    right: 0;
 }
 .newws-card {
    border: 1px solid #323232
    padding: 8px;
    border-radius: 12px;    
}
 .news-grind {
    padding:16px,


 }
 .nav-top {

    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    width: 100%;
 }

 .news-image {
    max-width: 100%;
    border-radius: 12px;
 }

 .news-title {
    padding-top: 16px;
 }
