#rubrik {
    color:rgb(141, 74, 27);
    padding:14px;
}

#bakgrund {
    background-color: burlywood;
}
#paragraph {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#älskar {
    font-weight: 500;
}